*{
    font-family: 'Noto Sans KR', sans-serif; 
}
body{
    margin: 0;
}
.header{
    height: 66px;
    width: 100%;
    background-color: #FFBA32;
    border-radius: 0,0,20,20;
    Box-sizing: border-box;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0 0 20px 20px;
    z-index: 20;
}
.header_line{
    position: fixed;
    top: 57.8px;
    left : 10px;
    z-index: 30;
    width: 93%;
    margin: 0 auto;
    border-bottom: #FF9200 solid 2px;
}
.logo_img{
    position: fixed;
    top: 13px; left: 33px;
    width: 56px;
<<<<<<< HEAD
=======
    height: 39px;
    z-index: 30;
    
>>>>>>> 50a71d3787863b5a52a26f4608cb0c1aa214657e
}

