a {
    text-decoration: none;
}
.nav_link{
    display: flex;
    margin-right: 19px;
    align-items: flex-end;
    display: block;
}
.login{

    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.24px;
    color: #ffffff;
}
.signup{
    margin-left: 13px;

    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.24px;
    color: #ffffff;

}
.go_for_you{
    

}