*{ 
    margin: 0;
    box-sizing: border-box;
}

.resultBox {
    min-width: 375px;
    padding: 0px 36px 0px 37px;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.resultBox__head {
    width: 302px;
    height: 36px;
    margin-bottom: 40px;

}

.head__heading {
    width: 160px;
    height: 36px;
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.48px;
    text-align: left;
    color: #ffa900;
  }
.resultBox__productlist {
    padding: 0;
    list-style-type: none;
    width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productlist__item {
    list-style: none;

    padding: 0px 15px 21px 32px;
    width: 302px;
    height: 210px;
    border-radius: 20px;
    box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.16);
    background-color: #ffffff;

    display: flex;

    margin-bottom: 40px;
}

.item__summary {
    width: 135px;
    height: 210px;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.itemName {
    width: 135px;
    height: 20px;
    font-size: 14px;
    font-weight: 900;
    line-height: 2.14;
    letter-spacing: 0.28px;
    color: #FFBA32;
    margin-bottom: 6px;
}

.itemPrice {
    width: 56px;
    height: 18px;
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.24px;
    text-align: left;
    color: #FFBA32;

    margin-bottom:14px;
}

.itemImg{
    width: 135px;
    height: 109px;
    border: solid 1px #707070;
  }

.item__right{
    width: 107px;
    padding-left: 13px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

} 

.right__tags{
    width: 98px;
    padding: 30px 0px 0px 9px;

    color: #FFBA32;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: 0.17px;

    margin-top: 93px;
    margin-bottom: 38px;

    display: inline-block;
    align-items: center;
}
.right__purchase {
    width: 107px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase__link{
    font-size: 12px;
    font-weight: 900;
    line-height: 1.75;
    letter-spacing: 0.24px;
    color: #ffffff;
    width: 107px;
    height: 25px;
    border-radius: 20px;
    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffa900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.reviewBox{
    margin-top: 23px;
}
.reviewBox__message{
    margin-left: 37px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.8px;
    text-align: left;
    color: #FFBA32;
    padding-left: 0px;
}
.star_again{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.star-box{
    padding-top: 23.2px;
    
}
.star{
    display:inline-block;
    width: 17px;
    height: 34px;
    cursor: pointer;
}

.star_left{
    background: url("img/star.png") no-repeat 0 0; 
    background-size: 34px; 
    margin-right: -2px;
}
.star_right{
    background: url("img/star.png") no-repeat -17px 0; 
    background-size: 34px; 
    margin-left: -3px;
    margin-right: 6px;
}
.star.on{
    background-image: url("img/star_in.png"); 
}
.reviewBox__again{
    margin-top: 54px;
    width: 154px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffa900;
    font-size: 16px;
    color:#ffffff;
    border: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
.again{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 107px;
}
