@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*{  margin: 0 auto;
    Box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

h2{
    color: #ffa900;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.48px;
}
.signup{
    margin-left: 53px;
    margin-right: 52px;
}
.category{
    margin-top: 166px;
    margin-bottom: 49px;
}
.signup-content{
    margin-bottom: 23.5px;
    width: 270px;
    height: 30px;
    opacity: 0.3;
    border-radius: 10px;
    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffca61;
    color:#ffffff;
    border: 0;
    outline: 0;
}
button{
    margin-top: 165.5px;
    font-size: 16px;
    width: 154px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffa900;
    color:#ffffff;
    border: 0;
    outline: 0;
}
input::placeholder{
    font-family: NotoSansKR;
    font-size: 12px;
    color: #ffffff;
    line-height: 2.08;
    letter-spacing: 0.6px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
