{% extends 'base.html' %}
{% block title %} Nasosun {% endblock %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'membership_suggestion.css'%}">
    <div class="suggestion">
        <div class="category">
            <p>앗,</p>
            <p><span>나소선</span>회원이</p>
            <p>아니시네요 !</p>
        </div>
        <div class="suggestion_desc">
            <p>간편 회원가입하고, 당신의</p>
            <p>소중한 사람의 취향에 딱 맞는</p>
            <p>선물을 추천받으세요.</p>
            <a href="{% url 'signup' %}">
                <div class="button">
                <p>회원가입</p></div></a>
        </div>  
{% endblock content %}

